@charset "UTF-8";

main .uni-info-container {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	margin-top: 30px;
}

main .info-img {
	width: 300px;
	flex-shrink: 0;
}

main .info-img img {
	max-width: 100%;
	height: auto;
	display: block;
}

main .info-div {
	flex-grow: 1;
}

main .info-div h4 {
	color: #5b6774;
	font-weight: 400;
	margin-bottom: 4px;
	margin-top: 0;
}

main .info-div h2 {
	color: #3b88d4;
	margin-top: 0;
	margin-bottom: 4px;
	font-size: 24px;
	font-weight: 400;
}

main .info-div p {
	margin-top: 10px;
	line-height: 1.6;
	font-size: 14px;
	font-weight: 300;
	color: #5b6774;
}

main .mid {
	height: 60px;
	border-bottom: 2px solid #071f4b;
	display: flex;
	align-items: center;
	margin-top: 10px;
	color: #145074;
}

main .department {
	margin-top: 0;
}

main .department .dept-table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

main .dept-table tr {
	display: flex;
}

main .dept-table th, td {
	border: 1px solid #dedede;
	padding: 12px 15px;
	text-align: center;
	display: block;
	width: 25%;
}

main .dept-table th {
	font-weight: 600;
	background-color: #f4f8fc;
}

main .dept-table th:not(:last-child), td:not(:last-child) {
	flex-grow: 1;
}

main .dept-table th:last-child, td:last-child {
	flex-grow: 0;
	width: 150px;
}

main .dept-table td {
	font-weight: 400;
}

main .dept-table th:first-child, td:first-child {
	border-left: none;
}

main .dept-table th:last-child, td:last-child {
	border-right: none;
}