<div id="sidebarWrap">
  <aside class="side">
    <h4 class="icon-admin-setting">환경설정</h4>
    <ul>
      <li><a href="#">기본환경정보</a></li>
      <li><a href="#">알림관리</a></li>
    </ul>

    <h4 class="icon-admin-academic">학사운영</h4>
    <ul>
      <li><a href="index.html">교육 운영 현황</a></li>
      <li><a href="#">학번별 성적 현황</a></li>
      <li><a href="#">학생별 수강 현황</a></li>
      <li><a href="#">강의 등록</a></li>
      <li><a href="#">강의 목록</a></li>
      <li><a href="#">수강 현황</a></li>
    </ul>

    <h4 class="icon-admin-persons">인사관리</h4>
    <ul>
      <li><a href="studentList.html">학생 목록</a></li>
      <li><a href="studentRegister.html">학생 등록</a></li>
      <li><a href="professorList.html">교수 목록</a></li>
      <li><a href="professorRegister.html">교수 등록</a></li>
    </ul>

    <h4 class="icon-admin-college">대학 및 학과</h4>
    <ul>
      <li><a href="departmentList.html">학과 목록</a></li>
      <li><a href="departmentRegister.html">대학 및 학과 등록</a></li>
    </ul>

    <h4 class="icon-admin-board">게시판관리</h4>
    <ul>
      <li><a href="#">알림마당 공지사항</a></li>
      <li><a href="#">학사안내 공지사항</a></li>
      <li><a href="#">커뮤니티 공지사항</a></li>
      <li><a href="#">입학상담</a></li>
      <li><a href="#">질문 & 답변</a></li>
      <li><a href="#">식단안내</a></li>
      <li><a href="#">자료실</a></li>
    </ul>
  </aside>
</div>
